@font-face {
    font-family: berserk;
    src: url("../font/CollegeSlabSC.otf");
}


hr {
    border: 3px solid rgb(158, 8, 8);
    margin-left: 450px;
    margin-right: 450px;
}


.sinopse {
    font-size: 10px;
    margin-top: 35px;
    margin-left: 250px;
    margin-right: 250px;
    padding: 5px;
    border: 3px solid rgb(181, 19, 19);
    background-color: black;
    font-family: berserk;
}

h1 {
    color: rgb(158, 8, 8);

}

.titu {
    color: rgb(181, 19, 19);
    font-size: 60px;
    font-family: berserk;


}

.historia {
    color: rgb(158, 8, 8);
    font-size: 60px;


}

.Personalidade {

    color: rgb(158, 8, 8);
    font-size: 60px;

}

h2 {
    color: rgb(158, 8, 8);
    font-size: 20px;


    background-color: black;
    font-family: berserk;

}

h3 {
    color: rgb(158, 8, 8);
    font-size: 20px;


    background-color: black;
    font-family: berserk;
}
.apguts, .psguts, .hsguts{
   visibility: hidden;



}





/* Barra de Rolagem */


/* Fundo que corre */
::-webkit-scrollbar-track {
    background-color: #000000;
}
/* Fundo que corre */

::-webkit-scrollbar {
    width: 6px;
    background: #F4F4F4;
}

/* Linha que desce */
::-webkit-scrollbar-thumb {
    background: rgb(158, 8, 8);
    border-radius: 15px;
}
/* Linha que desce*/


/* Barra de Rolagem */


.btm1{
    font-size: 20px;
color: rgb(158, 8, 8);
padding: 10px 5px;
width: 70px;
background-color: #000000;
border: 3px solid rgb(158, 8, 8) ;
border-radius: 5px;
text-align: center;
user-select: none;
cursor: pointer;
transition: 0.5s;
font-family: berserk;
}

.btm2:hover{
    background: #2e2e2e;
    transition: 0.5s;

}

.btm2{
    font-size: 20px;
color: rgb(158, 8, 8);
padding: 10px 5px;
width: 70px;
background-color: #000000;
border: 3px solid rgb(158, 8, 8) ;
border-radius: 5px;
text-align: center;
user-select: none;
cursor: pointer;
transition: 0.5s;
font-family: berserk;
}

.btm2:hover{
    background: #2e2e2e;
    transition: 0.5s;



}

.btm3{
    font-size: 20px;
color: rgb(158, 8, 8);
padding: 10px 5px;
width: 70px;
background-color: #000000;
border: 3px solid rgb(158, 8, 8) ;
border-radius: 5px;
text-align: center;
user-select: none;
cursor: pointer;
transition: 0.5s;
font-family: berserk;
}

.btm3:hover{
    background: #2e2e2e;
    transition: 0.5s;



}

.btm4{
    font-size: 20px;
color: rgb(158, 8, 8);
padding: 10px 5px;
width: 70px;
background-color: #000000;
border: 3px solid rgb(158, 8, 8) ;
border-radius: 5px;
text-align: center;
user-select: none;
cursor: pointer;
transition: 0.5s;
font-family: berserk;
}

.btm4:hover{
    background: #2e2e2e;
    transition: 0.5s;



}

.btm5{
    font-size: 20px;
color: rgb(158, 8, 8);
padding: 10px 5px;
width: 70px;
background-color: #000000;
border: 3px solid rgb(158, 8, 8) ;
border-radius: 5px;
text-align: center;
user-select: none;
cursor: pointer;
transition: 0.5s;
font-family: berserk;
}

.btm5:hover{
    background: #2e2e2e;
    transition: 0.5s;



}

.btm6{
    font-size: 20px;
color: rgb(158, 8, 8);
padding: 10px 5px;
width: 70px;
background-color: #000000;
border: 3px solid rgb(158, 8, 8) ;
border-radius: 5px;
text-align: center;
user-select: none;
cursor: pointer;
transition: 0.5s;
font-family: berserk;
}

.btm6:hover{
    background: #2e2e2e;
    transition: 0.5s;



}

.btm7{
    font-size: 20px;
color: rgb(158, 8, 8);
padding: 10px 5px;
width: 70px;
background-color: #000000;
border: 3px solid rgb(158, 8, 8) ;
border-radius: 5px;
text-align: center;
user-select: none;
cursor: pointer;
transition: 0.5s;
font-family: berserk;
}

.btm7:hover{
    background: #2e2e2e;
    transition: 0.5s;



}

.btm8{
    font-size: 20px;
color: rgb(158, 8, 8);
padding: 10px 5px;
width: 70px;
background-color: #000000;
border: 3px solid rgb(158, 8, 8) ;
border-radius: 5px;
text-align: center;
user-select: none;
cursor: pointer;
transition: 0.5s;
font-family: berserk;
}

.btm8:hover{
    background: #2e2e2e;
    transition: 0.5s;



}

.btm9{
    font-size: 20px;
color: rgb(158, 8, 8);
padding: 10px 5px;
width: 70px;
background-color: #000000;
border: 3px solid rgb(158, 8, 8) ;
border-radius: 5px;
text-align: center;
user-select: none;
cursor: pointer;
transition: 0.5s;
font-family: berserk;
}

.btm9:hover{
    background: #2e2e2e;
    transition: 0.5s;



}